/* shared  style */
/* *{
    margin: 0;
    padding: 0;
} */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* shared color  */

.primary-color{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.btn-primary{
    padding:18px 36px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #FD6E0A;
    cursor: pointer;
}
.btn-primary-2{
    padding:18px 36px;
    color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}
.btn-space{
    display: flex;
    gap: 30px;
}
.bg-color{
    background-color: #FFF8F3;
}
/* header style */
header{
    background-color: #FFF8F3;
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 230px;
    
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    
}

nav ul li a {
    text-decoration: none;
    margin-right: 53px;
    
}

/* Banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 37px 0 230px;
}
.banner img{
    width: 584px;
}
.banner-info{
    width: 585px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-desc{
    font-size: 18px;
    color: #757575;
}

/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    margin: 130px 0px 130px 0px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}
.section-desc{
    color: #757575;
    font-size: 18px;
    text-align: center;
}
.about{
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.about-container{
    background-color: white;
    width: 827px;
    border: 1px solid black;
    
}
.about-items{
    display: flex;
    justify-content: space-around;
    /* align-items: center;
    gap: 20px; */
}
.item-title{
    font-size: 20px;
    text-align: center;
    color: #757575;
}
.item-subtitle{
    font-size: 20px;
    text-align: center;
    color: #474747;
}

/* technology style */
.tech-padding{
    padding: 0px 130px;
    margin-bottom: 50px;
}
.cards{
    display: flex;
    gap: 24px;
}
.card{
    width: 267px;
    /* height: 377px; */
    /* border: 1px solid black; */
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.card-title{
    font-weight: bold;
    font-size: 20px;
    color: #181818;
    /* font-family: sans-serif; */
}
.card-desc{
    color: #757575;
    font-size: 16px;
}
