/* shared  style */
/* *{
    margin: 0;
    padding: 0;
} */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* shared color  */

.primary-color{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.btn-primary{
    padding:18px 36px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #FD6E0A;
    cursor: pointer;
}
.btn-primary-2{
    padding:18px 36px;
    color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}
.btn-space{
    display: flex;
    gap: 30px;
}

/* header style */
header{
    /* background-color: #FFF8F3; */
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 230px;
    
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    
}

nav ul li a {
    text-decoration: none;
    margin-right: 53px;
    
}

/* Banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 37px 0 230px;
}
.banner img{
    width: 584px;
}
.banner-info{
    width: 585px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-desc{
    font-size: 18px;
    color: #757575;
}